@use "../inc" as *;
.cta-video {
  position: relative;
  overflow: hidden;
  padding: rem(80px) 0;
  background-image: url(../img/base_bg.png);
  background-size: cover;
  background-position: top;
  background-color: $softBlue;

  &__overlay {
    position: absolute;
    width: 81%;
    top: rem(-24px);

    img {
      object-fit: cover;
    }
  }

  &__box {
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: rem(80px);
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__subtitle {
    font-weight: 700;
    font-size: rem(24px);
    font-size: clamp(18px, rem(24px), 24px);
    line-height: 1.08;
    letter-spacing: -0.03em;
    color: $main100;
    margin-bottom: rem(16px);
  }

  h2 {
    font-weight: 700;
    font-size: rem(32px);
    font-size: clamp(24px, rem(32px), 32px);
    line-height: 1.06;
    letter-spacing: -0.03em;
    margin-bottom: rem(40px);
  }

  &__buttons {
    display: flex;
    gap: rem(24px);
  }

  &__video {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1.7;
    box-shadow: 0px rem(4px) rem(4px) rgba(1, 60, 147, 0.04), 0px rem(-2px) rem(24px) rgba(24, 136, 255, 0.1);
    border: 0.5px solid #f2f4f7;
    a {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &__poster {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $white;
    border-radius: rem(4px);
    img {
      object-fit: contain;
    }
  }
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      transition: transform 0.3s ease;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  @include mq-inv-tablet {
    padding: clamp(50px, rem(60px), 80px) 0;
    &__box {
      gap: clamp(24px, rem(30px), 30px);
      display: flex;
    }
    &__left {
      width: 40%;
    }
    &__right {
      width: 60%;
    }
    &__subtitle {
      font-size: clamp(16px, rem(24px), 24px);
      margin-bottom: clamp(10px, rem(14px), 14px);
    }
    h2 {
      font-size: clamp(18px, rem(24px), 24px);
      margin-bottom: clamp(14px, rem(16px), 16px);
    }
  }

  @include mq-inv-medium {
    padding: clamp(40px, rem(40px), 50px) 0;
    &__overlay {
      display: none;
    }

    &__box {
      display: flex;
      flex-direction: column;
    }

    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
    }

    &__subtitle {
      font-size: clamp(16px, rem(16px), 18px);
      line-height: 1.25;
      margin-bottom: clamp(12px, rem(12px), 14px);
    }

    h2 {
      font-size: clamp(18px, rem(18px), 24px);
      line-height: 1.16;
      margin-bottom: clamp(24px, rem(24px), 30px);
    }

    &__poster {
      border-radius: 0;
    }
    .play-button {
      max-width: rem(54px);
      width: 100%;
    }
    &__video {
      max-height: rem(192px);
      margin: 0 rem(-24px);
    }

    &__buttons {
      flex-direction: column;
      gap: rem(8px);
      .btn {
        max-width: 100%;
      }
    }
  }
}

.cta-video.cta-video-revers-right,
.cta-video.cta-video-revers-left {
  background-image: url(../img/overlay-cta-person.svg);
  background-size: cover;
  background-position: top;
  .cta-video__right {
    order: 1;
  }
  .cta-video__left {
    order: 2;
  }
  .cta-video__box {
    grid-template-columns: 1.2fr 0.8fr;
  }
  .cta-video__subtitle {
    color: $white;
  }

  h2 {
    color: $white;
  }
  .cta-video__video {
    border: 0.5px solid #1975d7;
    box-shadow: 0px rem(4px) rem(4px) rgba(1, 60, 147, 0.04), 0px rem(-2px) rem(24px) rgba(24, 136, 255, 0.1);
  }
  .cta-video__poster {
    background-color: #1975d7;
  }
  .btn__blue {
    background-color: $white;
    color: $main100;
    border: 1px solid $white;
    &:hover {
      background-color: $main100;
      color: $white;
      border: 1px solid $white;
    }
  }
  .btn__white {
    background-color: $main100;
    color: $white;
    border: 1px solid $white;
    &:hover {
      background-color: $white;
      color: $main100;
    }
  }
  @include mq-inv-medium {
    padding-top: 0px;
    .cta-video__box {
      grid-template-columns: 1fr;
    }
    .cta-video__right {
      order: 2;
    }
    .cta-video__left {
      order: 1;
    }
  }
}
.cta-video.cta-video-revers-left {
  .cta-video__box {
    grid-template-columns: 0.8fr 1.2fr;
  }
  .cta-video__right {
    order: 2;
  }
  .cta-video__left {
    order: 1;
  }
}
