@use "../inc" as *;

.flag-video {
  position: relative;
  overflow: hidden;
  margin-top: rem(-24px);
  padding-bottom: rem(86px);
  background: $softBlue;

  &__overlay-top {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    left: 0;
    height: rem(92px);
    img {
      height: auto;
      height: 100%;
      max-width: none;
      max-height: none;
      object-fit: cover;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    top: rem(64px);
    height: 60%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__title {
    max-width: rem(640px);
    max-width: clamp(600px, rem(640px), 640px);
    margin: 0 auto;
    padding: rem(174px) 0 rem(70px);
    text-align: center;

    .section_subtitle {
      color: #fff;
    }

    .section_title {
      color: #fff;
    }
  }

  &__video {
    position: relative;
    overflow: hidden;
    max-width: rem(854px);
    max-width: clamp(700px, rem(854px), 854px);
    width: 100%;
    margin: 0 auto;
    border-radius: rem(4px);
    box-shadow: 0px 4px 44px rgba(14, 65, 120, 0.2);

    a {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &__poster {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $main100;
    border-radius: rem(4px);

    img {
      object-fit: contain;
    }
  }

  &__poster-profile {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__video-logo {
    position: absolute;
    bottom: rem(42px);
    left: rem(32px);
    max-width: rem(160px);
  }

  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      transition: transform 0.3s ease;

      &:last-child {
        display: none;
      }
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  @include mq-inv-tablet {
    &__overlay-top {
      // height: rem(60px);
      img {
        width: 100%;
      }
    }
  }

  @include mq-inv-medium {
    position: relative;
    margin-top: rem(-4px);
    padding-bottom: rem(40px);

    &__overlay {
      top: rem(12px);
      width: 135%;
      height: 42%;
    }

    &__title {
      padding: rem(52px) 0 rem(32px);
    }

    &__video {
      border-radius: rem(0px);
      margin: 0 rem(-24px);
      width: auto;
    }

    &__poster {
      border-radius: rem(0);
    }

    &__video-logo {
      position: absolute;
      bottom: rem(18px);
      left: rem(32px);
      max-width: rem(60px);
    }

    .play-button {
      max-width: rem(54px);
      width: 100%;

      img {
        &:first-child {
          display: none;
        }

        &:last-child {
          display: block;
        }
      }
    }
  }
}